<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand">
    <img src="https://via.placeholder.com/50 " class="rounded-circle d-inline-block align-top" alt="">
    Task Board 141
  </a>
</nav>

<div class="container-fluid pt-3">
  <div>
    <div class="row flex-row flex-sm-nowrap py-5">
      <ng-container *ngFor="let group of results">
        <ng-container *ngIf="group.resource_subtype === 'section'">
          <div class="col-sm-4 col-md-3">
            <div class="task-group card">
              <div class="card-block">
                <h4 class="card-title text-truncate py-2">
                  {{ group.name}}
                </h4>
                <ng-container *ngFor="let task of results">
                  <ng-container *ngIf="task.resource_subtype === 'default_task'">
                    <ng-container *ngIf="task.memberships[0].section.gid === group.gid">
                      <div class=" task card p-2 bg-faded" [ngClass] = "task.custom_fields[0].enum_value != null  ? task.custom_fields[0].enum_value.color : 'none'">
                        <h5 class="card-title">
        
                          <ng-container *ngIf="task.custom_fields[1].enum_value; else noDepartment">
                            {{task.custom_fields[1].enum_value.name}}
                          </ng-container>
                          <ng-template #noDepartment>
                            No department specified
                          </ng-template>
                        </h5>
                        <p>{{ task.name }}</p>
                      </div>
                      <br>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>