/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/bootstrap.scss";

$body-bg: $gray-900;

body {
    background-color: $body-bg;
    color: #aaa;

    .navbar {
        a.navbar-brand {
            font-size: $font-size-lg*1.3;
            font-weight: $font-weight-bold;
        }
        background: #3A3F44;
  
    }
}

/** General styling for the taskboard **/

div.task-group {
    background: transparent;
    border: none;
    div.task {
        color: $white;
        
        /* Sticky Note Colors */
        $sticky-colors-list: red yellow-orange orange yellow green aqua yellow-green blue indigo purple magenta hot-pink pink cool-gray none;
        $sticky-colors-value-list: #dc3545 #fd7e14 rgb(255, 72, 0) #ffc107 #28a745 #17adb8 yellowgreen #007bff #6610f2 #6f42c1 magenta hotpink #e83e8c gray #343a40 ;

        @each $bg-color in $sticky-colors-list {
            $i: index($sticky-colors-list, $bg-color);

            &.#{$bg-color} {
                background-color: mix(white, nth($sticky-colors-value-list, $i), 35%);
            }
        }

        .task-body {
            background: transparentize($color: white, $amount: .80)
        }
    }
}